h6
{
color:blue;
}
h1
{

line-height: 30px;
font-weight: bold;
font-family:Lucida Console;
font-size: 138px;
text-align:center;
margin-right:15px;

}
p
{
color:#999;
font-weight: 500;
line-height: 24px;
font-size: 18px;
margin-top: 10px;
margin-bottom: 10px;
font-family: inherit;
}
#first
{
background-color:#F0F8FF;
width:100%;
height:40px;
}
hr
{
height:3px;
color:#FFFACD;
}
td
{

font-size:12px;
text-align:center;
}

#para
{
font-size:1.5em;
color:#808080;
text-align:justify;
}
#three
{
width:100%;
height:25px;
font-size:0.95em;

background-color:#800000;
text-align:center;
}
#four
{
background-color:#FFFACD;
}
.five
{
text-align:center;
}
